# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.venv/
venv/
env/

# Database
*.db
*.sqlite3

# Env
.env
!.env.example

# Node
node_modules/
dist/
.cache/

# IDE
.vscode/
.idea/
*.suo
*.user

# Docker
*.log

# OS
.DS_Store
Thumbs.db
